
html, body {
    width:100%;  
    height : 100%;
  }
  
.split{
     -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

  .gutter {
    background-color: rgba(125,125,125,0.25);
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../grips/vertical.png');
     height: 100%;
    float: left;
  }
  .gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('../grips/horizontal.png');
  }

.horizpan{
    width:100%;  
height:100%; 
}


.split.split-horizontal {
    height: 100%; 
    float : left;

  }

#graph    {
    width:100%;  
    height : 100%;
    
    margin: 0 0 0 0;
    position:absolute; 
    left:0;
    right :0;
    top:0;
        
     background-image: url("http://rotalstepmusic.net/uploads/images/wwwwwwwwwwwww.jpg");    
     background-color: #000000;
}


#up-panel
{
    width:100%; 
}

#maps
{
    height:100%; 
    width:100%;  
}

#legend
{
    /*background-color: gray;*/
    height:100%; 
    color : white;

}

#streamgraph
{

height:100%; 
}
#text
{
    box-sizing: border-box;
    margin-left: 5px;
    padding-top:  5%;
    height:50%; 

}
h2
{
   padding-top:  0px;
       margin-top:  0px;
     margin-bottom:  0px;
}

#genre
{
    height:50%; 
    margin-left: 5px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}
.svg-content-responsive {
    display: inline-block;
    top: 10px;
    left: 0;
}

.axis{
    
    color: white;
}

.leaflet-container {
    background-color:rgba(0,0,0,0.0);
    overflow: hidden;
}